
<form id="palindrome_tester" action="/check" method="post" style="text-align:center;">
  <textarea name="phrase" rows="10" cols="60"></textarea>
  <br>
  <button class="form-submit" type="submit">Submit</button>
</form>

