
<h1>Result</h1>

<%= erb :palindrome_form %>
<br/>
<% if @phrase.palindrome? %>
  <div class="result result-success">
    <p>the word "<%= @phrase %>" is a palindrome</p>
  </div>
<% else %>
  <div class="result result-fail">
    <p>the word "<%= @phrase %>" is not a palindrome</p>
  </div>
<% end %>


